@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h2 class="title">Privacy Policy</h2>
<div class="card mt-2">
    <div class="card-item">
        <p>Флекс элемент 1</p>
    </div>

    <div class="card-item">
        <p>Флекс элемент 2</p>
    </div>

    <div class="card-item">
        <p>Флекс элемент 3</p>
    </div>
</div>
