.image {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
}

a {
    border: solid 5px;
    border-color: #aaa #000 #000 #aaa;
}

a:active {
    border-color: #000 #aaa #aaa #000;    
}